@let sort = bookTableStore.booksStore.sort();

<p-table
  [value]="bookTableStore.books()"
  [tableStyle]="{ width: '100%' }"
  [loading]="bookTableStore.booksStore.isLoading()"
  (onSort)="bookTableStore.booksStore.setSort($event)"
  [sortField]="sort?.field"
  [sortOrder]="sort?.order || 1"
  [paginator]="true"
  [rows]="2"
  [rowsPerPageOptions]="[2, 3, 4]"
>
  <ng-template #caption>
    <div class="caption">
      <p-button icon="pi pi-refresh" rounded raised (click)="bookTableStore.booksStore.listBooks()"/>

      <p-button label="Create" [raised]="true" severity="info" (click)="bookTableStore.createBookActionHandler()"/>
    </div>
  </ng-template>

  <ng-template #header>
    <tr>
      <th pSortableColumn="name" style="width: 20%">
        Name <p-sortIcon field="name" />
      </th>

      <th pSortableColumn="author" style="width: 20%">
        Author <p-sortIcon field="author" />
      </th>

      <th>Action</th>
    </tr>
  </ng-template>

  <ng-template #body let-book>
    <tr>
      <td>{{ book.name }}</td>
      <td>{{ book.author }}</td>
      <td>
        <p-button
          icon="pi pi-pencil"
          [rounded]="true"
          severity="info"
          (click)="bookTableStore.editActionHandler(book)"
        />
      </td>
    </tr>
  </ng-template>
</p-table>
