@let sort = bookTableStore.booksStore.sort();

<p-table
  [value]="bookTableStore.books()"
  [tableStyle]="{ 'min-width': '50rem' }"
  [loading]="bookTableStore.booksStore.isLoading()"
  (onSort)="bookTableStore.booksStore.setSort($event)"
  [sortField]="sort?.field"
  [sortOrder]="sort?.order || 1"
>
  <ng-template #caption>
    <div class="flex items-center justify-between">
      <p-button
        icon="pi pi-refresh"
        rounded
        raised
      />
    </div>
  </ng-template>

  <ng-template #header>
    <tr>
      <th
        pSortableColumn="name"
        style="width: 20%"
      >
        Name <p-sortIcon field="name" />
      </th>
      <th pSortableColumn="author" style="width: 20%">
        Author <p-sortIcon field="author" />
      </th>
    </tr>
  </ng-template>

  <ng-template #body let-book>
    <tr>
      <td>{{ book.name }}</td>
      <td>{{ book.author }}</td>
    </tr>
  </ng-template>
</p-table>
