<p-table
  #table
  [value]="bookTableStore.books()"
  [tableStyle]="{ width: '100%' }"
  [loading]="bookTableStore.booksStore.isLoading()"
  (sortFunction)="bookTableStore.onSortChange($event)" [customSort]="true"
  [paginator]="false"
>
  <ng-template #caption>
    <div class="caption">
      <p-button icon="pi pi-refresh" rounded raised />

      <p-button
        label="Create"
        [raised]="true"
        severity="info"
        (click)="bookTableStore.createBookActionHandler()"
      />
    </div>
  </ng-template>

  <ng-template #header>
    <tr>
      <th pSortableColumn="name" style="width: 20%">
        Name <p-sortIcon field="name" />
      </th>

      <th pSortableColumn="author" style="width: 20%">
        Author <p-sortIcon field="author" />
      </th>

      <th>Action</th>
    </tr>
  </ng-template>

  <ng-template #body let-book>
    <tr>
      <td>{{ book.name }}</td>
      <td>{{ book.author }}</td>
      <td>
        <p-button
          icon="pi pi-pencil"
          [rounded]="true"
          severity="info"
          (click)="bookTableStore.editActionHandler(book)"
        />
      </td>
    </tr>
  </ng-template>
</p-table>

<p-paginator
  #paginator
  (onPageChange)="bookTableStore.onPageChange($event)"
  [totalRecords]="bookTableStore.booksStore.count()"
  [rowsPerPageOptions]="[2, 3, 6]"
/>
